html {
    min-height: 100dvh;
}

body {
    background-color: rgb(255 255 255);
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
    color: rgb(51 51 51);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

h1 {
    text-align: center;
    font-size: 1.25rem;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: rgb(0 0 0);
    color: rgb(255 255 255);
    padding: 1.5rem 0.25rem;
}

footer a {
    color: rgb(255 255 255);
    text-decoration: underline;
    display: block;
    margin-top: 0.5rem;
}

footer a:hover {
    color: rgb(255 255 255);
    text-decoration: none;
}

.block__slider {
    position: relative;
    aspect-ratio: 1.91/1;
    height: fit-content;
    width: 100vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.fader-slide {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.fader-slide[aria-hidden="true"] {
    opacity: 0;
}

.fader-slide img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
        object-fit: cover;
}

.fader-navigation-dots {
    position: absolute;
    right: 4rem;
    bottom: 1rem;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.fader-navigation-dots .dot {
    position: relative;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 9999px;
    background-color: rgb(255 255 255);
    border: 1px solid rgb(0 0 0);
    flex-grow: 0;
    flex-shrink: 0;
}

.fader-navigation-dots .dot:hover {
    cursor: pointer;
}

.fader-navigation-dots .dot span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.fader-navigation-dots .dot.is-active {
    background-color: rgb(95 191 82);
}

.fader-pause-area {
    bottom: 1rem;
    display: block;
    height: 1.5rem;
    position: absolute;
    right: 1.5rem;
    width: 1.5rem;
    z-index: 10;
}

.fader-pause-btn {
    align-items: center;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    overflow: hidden;
    width: 1.5rem;
    border-radius: 9999px;
    background-color: rgb(255 255 255);
    border: 1px solid rgb(0 0 0);
}

.fader-pause-btn:focus-within {
    outline: 2px solid blue;
}

.fader-pause-btn .fader-play {
    align-items: center;
    display: none;
    height: 1.5rem;
    justify-content: center;
    overflow: hidden;
    width: 1.5rem;
}

.fader-pause-btn .fader-pause {
    align-items: center;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    overflow: hidden;
    width: 1.5rem;
}

.fader-pause-btn .fader-play svg,
.fader-pause-btn .fader-pause svg {
    height: 1rem;
    width: 1rem;
}

.fader-pause-btn.is-pause .fader-play {
    display: flex;
}

.fader-pause-btn.is-pause .fader-pause {
    display: none;
}

.fader-pause-check {
    border: none;
    background-color: transparent;
    height: 1.5rem;
    margin: 0;
    opacity: 0;
	padding: 0;
    position: absolute;
    width: 1.5rem;
    -webkit-appearance: none;
    appearance: none;
}

.fader-pause-check:hover {
    cursor: pointer;
}

@media (min-width: 640px) {
    .fader-navigation-dots {
        right: 5rem;
        bottom: 2.5rem;
    }

    .fader-pause-area {
        bottom: 2.5rem;
        right: 2.5rem;
    }
}